/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-4-6, 16:57:16
    Author     : Bluewhale
*/
* {
    margin: 0;
    padding: 0;
   
}


.header{
    position: fixed;
    background-color:  #08f;
    height: 40px;
    width: 100%;
    color: white;
    font-family: "楷体";
    font-size: 17px;
    
    clear: both;
    z-index: 100;
}

.clearfix_head:after,.clearfix_foot:after{
    content: ".";
    clear: both;
    visibility: hidden;
    display: block;
    font-size:0;
} 
.clearfix_head,.clearfix_foot{
    zoom:1;
    overflow:hidden;
} 

.clearfix_head{  height: 40px; }  .clearfix_foot{  height: 45px;}
.theme{
    font-family: "黑体";
    position: fixed;
    top: 11px;
    font-size: 16px;
}
.back{
    padding-top: 12px;
    padding-left: 13px;
    height: 15px;
}

.scan{
    padding-top: 11px;
    padding-right: 12px;
    float: right;
    height: 20px;
}
.footer{
    position:fixed;
    left: 0px;
    bottom: 0px;
    font-family: "黑体";
    text-align: center;
    width: 100%;
    height: 43px;
    background-color: #F5F5F5;
    font-size: 9px;
    
    border-top-style: solid;
    border-top-width: 1px;
    border-color: #CACACA;
    
    z-index:100;
} 


.footer table{
    width: 100%;
}

.footer table tr td a{
    text-decoration: none;
    color: #666;
}

.footer table tr td{
    width: 25%;
}

#present{
    color: #08f;
}

.mymenu{
    height: 25px;
}

.header_table{
    border: 1px #ccccff solid ;
    border-radius: 3px;
    color: white;
    background-color: rgba(255,255,255,0.1);
    
    position: fixed;
    top:8px;
    left: 33%;
    height: 23px;
    font-size: 13px;
    font-family: "黑体";
    
}

.header_table a{
    font-size: 13px;
    font-family: "黑体";
    text-decoration: none;
    color: white;
}

.header_table_tdleft{
    border-right:1px #F5F5F5 solid;
    padding: 0px;
}

.header_me{
    font-family: "微软雅黑";
    position: absolute;
    left: 45%;
    top:8px;
    font-size: 16px;
}